* {
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(255, 248, 239);
}
header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    width: 100%;
}
h1 {
    margin-left: 2%;
    padding: 25px;
}
.nav-list {
    padding: 25px;
    margin-right: 5%;
    width: 30%;
}
ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style-type: none;
}
button {
    height: 100%;
    justify-content: space-around;
    width: 100px;
}
section {
    display: flex;
}
h3 {
    width: 100px;
    display: flex;
    padding: 20px;
}
div {
    width: 65%;
    display: inline;
    padding: 20px;
}
.big {
    border: solid gray;
    width: 625px;
    height: 250px;
    padding: 10px;
}
.small {
    border: solid gray;
    width: 300px;
    height: 75px;
    padding: 10px;
}

.backdrop {
    background-image: url("jacksonville-downtown.jpeg");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 102px;
    zoom: 1.08;
}
.profile-pic {
    background-image: url("Mike Tsypan.JPG");
    height: 300px;
    width: 300px;
    position: relative;
    left: 120px;
    top: 85px;
    border: solid rgb(255, 255, 255) 8px;
    background-position: center;
    object-position: left;
}

.subtitle {
    border: none;
    background-color: rgba(19, 20, 20, 0.714);
    width: 65%;
    height: 40px;
    position: absolute;
    padding: 30px;
    bottom: 120px;
    right: 0%;
    margin: 0;
    color: rgb(255, 255, 255);
}
